html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    transition: all .2s ease-in-out;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.imageLoader{
  position: relative;
  background: white;
  height: 500px;
  background-image: url('../public/loader.gif');
  background-repeat: no-repeat;
  background-size: 350px auto;
  background-position: center center;
}
img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

.dark-theme{
  background: rgb(31, 31, 31);
  color: white;
}

button.theme{
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

button.theme svg{
  pointer-events: none;
}

small{
  color: grey
}

header{
  display: flex;
  align-items: center;
  height: 45px;
}

nav{
  display: flex;
  align-items: center;
}
nav a{
  margin-right: 10px;
}

nav svg{
  width: 25px;
}

.container{
  width: 90%;
  margin: 0 auto;
}

.form {
  padding: 30px;
  width: 100%;
  font-size: 14px;
  background: #27275c;
  display: flex;
  justify-content: center;
}

.form form{
  width: 300px;
}

.form input, .form textarea{
  margin: 15px 0 ;
  display: block;
  width: 100%;
  height: 45px;
  border-radius: 50px;
  padding: 5px 10px;
  border: 0;
  outline: none;
}
.form textarea{
  height: auto;
  border-radius: 20px;
  padding: 10px 10px;
}

.form input[type=submit]{
background: #da3838;
color: white;
outline: none;
border: none;
cursor: pointer;
}

.form input[type=checkbox]{
  height: 15px;
  width: 15px;
  }
  







 
